
header{
    display: flex;
    justify-content: center;
    align-items: center;    
}
header>h1{
    position: absolute;
    top:170px;
    font-size:50px;
    font-weight: bolder;
    font-family: 'Crete Round', serif;
    color:#c67ace;
    text-shadow:0px 6px 6px black;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    position: relative;
    top:250px;
}
ul>img{
    margin: 10px;
    flex-wrap: wrap;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#header_logo{
    position:absolute;
    width: 300px;
    top:0px;    
}
.card{
    width: 80px;
}
center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.start{
    border:none;
    width:100px;
    height: 50px;
    border-radius: 10px;
    background: green;
    font-size: 30px;
    color:white;
    position: relative;
    margin-top: 300px;
    /* transform: translateX(-50%); */


}
.start:hover{
    background: grey;
    color:black;
}
#player_score{
    position: absolute;
    font-size: 30px;
    font-weight: bolder;
    top:220px;
    left:100px;
    font-family: 'Roboto Mono', monospace;
    color: red;
    text-shadow:0px 3px 1px grey;
}

#opp_score{
    position: absolute;
    font-size: 30px;
    font-weight: bolder;
    top:220px;
    right:100px;
    font-family: 'Roboto Mono', monospace;
    color:blue;
    text-shadow:0px 3px 1px grey;
}
#party_background{
    display: flex;
    align-items: center;
    justify-content: center;
}
.party{
    height: 250px;
    position: relative;
    top: 300px;
    border: 1px solid white;
}
#winner_msg{
    position: absolute;
    font-size:60px;
    text-align: center;
    top:500px;
    font-family: 'Courier New', Courier, monospace;
    background: -webkit-linear-gradient(#52c234, #061700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 3px 7px green;
}
#reset_btn{
    position: absolute;
    width: 100px;
    height: 50px;
    border: none;
    border-radius:15px;
    font-size: 20px;
    font-weight: bolder;
    top:650px;
    background: blue;
    color:white;
}
#reset_btn:hover{
    background: grey;
    color:black;
}
