{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="icon" href="{% static 'icon.png' %}" sizes="64x64 50x50 32x32">
    
    <style>
        img{
            margin-top:-100px;   
        }
        p{
            position:absolute;
            top:150px;
            font-size:20px;
        }
        .b{
            background: inherit;
            border:1px solid white;
        }
        .b:hover{
            color:green;
        }
        
    </style>
</head>
<body>

    <form action="/after_login" method="post">
    {% csrf_token %}
        <button class="b" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
        <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
        </svg></button>
    </form>   

    <header>
        <center><img src="{% static 'logo.png'%}" alt=""></center>
    </header>
                <p>Technology is hastily converting each day and there may be a want of time to transport with the technology. Healthcare or hospital management system is critical to control or improve with the cutting-edge technology. Health is the concern of any nation at the worldwide level, therefore, it is vital to have a system that manages or enhance the healthcare system. We have advanced an answer withinside the shape of a Hospital Management System. In Hospital Management System advanced through us it has converted all administrative and medical operation of healthcare department.

            Hospital Management System advanced with the aid of using us is designed withinside the user-pleasant interface via way of means of information the cutting-edge demanding situations of the healthcare enterprise and maintains it healthy. It gives exclusive offerings of management together with a patient, the appointment of the patient, doctor’s record, fee management etc.

            Following are a few key capabilities of Hospital Management System advanced through us:
            <br>
            <br>

            1- Improve Visibility & Transparency: Hospital Management System advanced with the aid of using us improves the visibility and transparency withinside the complete management manner and in all records. 

            <br>
            2- Streamline Accurate Reporting: It enables in streamlining the correct reporting with the assist of up to date and correct records.

            <br>
            3- Improved Customer Services: Our Hospital Management System additionally improves the customer offerings of the hospital as it provides complete and correct statistics at once. 

            <br>
            4- Improved Quality Control: It additionally improves the quality control on the products and offerings of the hospital. 

            <br>
            5- Improved Management Visibility: It additionally progressed the management visibility of hospital, all statistics, and facts concerning the patient, physician and medication could be visible with the aid of using any branch easily. 

            <br>
            6- Unlimited User Support: Hospital Management System advanced via way of means of us allows unlimited user guide whenever assistance is required by the client. 

            <br>
            7- Single Data Base Management System: Our Hospital Management System permits whole facts of various departments to shop withinside the identical database which will increase the efficiency, lessen the cost, simplifies the infrastructure and useful in more than one reporting. 

            <br>
            8- Improved Time Management: It improves the time management as it permits having access to any required facts or statistics with one click. It additionally permits to feature or replace statistics inside in few clicks. 

            <br>
            9- Ease to Access System Facilities: It makes it clean to get access to the management system centers for the authorized users and keep it secure from unauthorized customers. 

            <br>
            <br>
            <br>
            Conclusion: 

            Healthcare enterprise have to be modified and improve with the time, We are presenting leading services with innovation on this area of healthcare withinside the shape of Hospital Management System. We have divided the whole system of Hospital Management System in one-of-a-kind manners. It is labeled in one-of-a-kind modules and offer all capabilities for the ease of the user.
            </p>
</body>
</html>