{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/learn_more.css">
    <title>Services</title>
    <link rel="icon" href="{% static 'icon.png' %}" sizes="64x64 50x50 32x32">
    
    <style>

        .typewriter  {
            font-size:45px;
            background: inherit;
            margin-top:0px;
        }
        button{
            background: inherit;
            border:1px solid white;
        }
        button:hover{
            color:green;
        }
        .logo{
            margin-top:-50px;
        }
    </style>
</head>
<body>
<form action="/after_login" method="post">
{% csrf_token %}
    <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
    <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
    </svg></button>
 </form>   
    
    <header class="logo"><center><img  class="logo" src="{% static 'logo.png' %}" alt="logo"></center></header>
    <center><p class="typewriter">Hospital Management System.</p></center>
    <div>Technology is rapidly changing day by day and there is a need of time to move with the technology. Healthcare or hospital management system is essential to manage or upgrade with the latest technology. Health is the priority of any nation at the global level, therefore, it is necessary to have a system that manages or improve the healthcare system. We have developed a solution in the form of a Hospital Management System. In Hospital Management System developed by us it has transformed all administrative and clinical operation of healthcare department. 
    <br>
    <br>
    Hospital Management System developed by us is designed in the user-friendly interface by understanding the current challenges of the healthcare industry and keeps it healthy. It offers different services of management such as a patient, the appointment of the patient, doctor’s record, fee management etc.
        <br>
        <br>
        Following are some key features of Hospital Management System developed by us:

    <ol>
    <li> Improve Visibility & Transparency:
    Hospital Management System developed by us improves the visibility and transparency in the complete management process and in all records.
    </li>
    <li>Streamline Accurate Reporting:
    It helps in streamlining the accurate reporting with the help of updated and accurate records.
    </li>
    <li>Improved Customer Services:
    Our Hospital Management System also improves the customer services of the hospital because it provides complete and accurate information at once.
    </li>
    <li>Improved Quality Control:
    It also improves the quality control on the products and services of the hospital.
    </li>
    <li>Improved Management Visibility:
    It also improved the management visibility of hospital, all information, and data regarding the patient, doctor and medicine could be seen by any department easily.
    </li>
    <li>Unlimited User Support:
    Hospital Management System developed by us allows unlimited user support whenever assistance is required by the client.
    </li>
    <li>Single Data Base Management System:
    Our Hospital Management System allows complete data of different departments to store in the same database which increases the efficiency, reduce the cost, simplifies the infrastructure and helpful in multiple reporting.
    </li>
    <li>Improved Time Management:
    It improves the time management because it allows getting access to any required data or information with one click. It also allows to add or update information within in few clicks.
    </li>
    <li>Ease to Access System Facilities:
    It makes it easy to get access to the management system facilities for the authorized users and keep it safe from unauthorized users.
    </li>
    </ol>
    Conclusion:

    Healthcare industry should be changed and upgrade with the time, We are providing leading services with innovation in this sector of healthcare in the form of Hospital Management System. We  have divided the whole system of Hospital Management System in different manners. It is categorized in different modules and provide all features for the easy of the user.

    We always pays attention to customer’s satisfaction and requirements. It is our priority of seeking for the customer’s interest and keep them satisfied with our services
    </div>
</body>
</html>